.main-title {
    color: #e7efff;
    font-weight: 500;
    text-shadow: white 0px 0px 2px;
}

.colored-title {
    color: #6a7baf;
    font-weight: 500;
    text-shadow: white 0px 0px 2px;
}

.responsive {
    width: 100%;
    height: auto;
}

.icon {
    width: 90px;
    height: 60px;
    margin: 10px;
}
